<div class="container">
    <h3 class="text-center text-danger fw-bold text-uppercase mt-5">đổi mật khẩu</h3>
    <div class="row mt-3">
        <div class="alert {{isSuccess == true ? 'alert-success' : 'alert-danger' }}"
        ng-show="message.length != 0">
            {{message}}
        </div>
        <form action="" name="frmChangePass">
            <div class="row mt-4">
                <input class="form-control" id="oldpass" type="password" placeholder="Mật khẩu cũ" ng-model="oldPass" name="oldPass" validate-password required>
                <span class="text-danger" ng-hide="frmChangePass.oldPass.$untouched || frmChangePass.oldPass.$valid">
                    <span ng-show="frmChangePass.oldPass.$error.required">Vui lòng nhập mật khẩu cũ</span>
                    <span ng-show="frmChangePass.oldPass.$error.check_pwd">Mật khẩu phải trên 6 ký tự</span>
                </span>
            </div>
            <div class="row mt-4">
                <input class="form-control" id="newpass" type="password" placeholder="Mật khẩu mới" ng-model="newPass" name="newPass" validate-password required>
                <span class="text-danger" ng-hide="frmChangePass.newPass.$untouched || frmChangePass.newPass.$valid">
                    <span ng-show="frmChangePass.newPass.$error.required">Vui lòng nhập mật khẩu mới</span>
                    <span ng-show="frmChangePass.newPass.$error.check_pwd">Mật khẩu phải trên 6 ký tự</span>
                </span>
            </div>
            <div class="row mt-4">
                <input class="form-control" id="confirmpass" type="password" placeholder="Xác nhận mật khẩu mới" ng-model="confirmPassword" name="confirmPassword" validate-password required>
                <span class="text-danger" ng-hide="frmChangePass.confirmPassword.$untouched || frmChangePass.confirmPassword.$valid">
                    <span ng-show="frmChangePass.confirmPassword.$error.required">Vui lòng nhập lại mật khẩu</span>
                    <span ng-show="frmChangePass.confirmPassword.$error.check_pwd">Mật khẩu phải trên 6 ký tự</span>
                </span>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 offset-1 mt-4">
                    <button type="button" ng-click="onSubmitForm(currentStudent.id)" class="btn btn-outline-primary btn-lg text-nowrap"><i class="bi bi-check-circle-fill"></i> Xác nhận</button>
                </div>
              </div>
        </form>
    </div>
</div>